<div class="row justify-content-center">
  <div class="col-12 filter-black justify-content-center">
    <div>コート閲覧履歴</div>
    <% if @courts.blank? %>
      <div>閲覧履歴がありません</div>
    <% else %>
      <% @courts.each do |court| %>
        <div class="row bg-success mb-2">
          <%= link_to(court.name, detail_court_path(court.id)) %><br>
          <%= court.fetch_pref_name %><br>
          <%= court.court_type %>
          <!--リファクタリング-->
          <%= court.return_business_hour %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>