<div class="row filter-black justify-content-center">
  <div class="col-12 justify-content-center text-white">
    <h4 class="py-3">イベントコート選択</h4>
    <p>
      住所からイベントを作成するコートを選択できます。<br>
      コートページからもイベントの作成は可能です。
    </p>
    <%= form_with(model: Court, url: court_select_events_path, method: 'get', local: true, class: 'form-group') do |f| %>
      <div class="pb-3">
        <%= f.label(:address, '住所を入力') %>
      </div>
      <div class="pb-3">
        <%= f.text_field(:address, placeholder: '住所を入力', class: 'w-100') %>
      </div>
      <div class="d-flex justify-content-end">
        <%= f.submit('検索する', class: 'btn btn-sm btn-success d-block') %>
      </div>
    <% end %>
  </div>
</div>