<div class="row justify-content-center">
  <div class="col-12 filter-black justify-content-center">
    <div>イベントコート選択</div>
    <%= form_with(model: Court, url: court_select_events_path, method: 'get', local: true) do |f| %>
      <%= f.label(:address, '住所を入力') %>
      <%= f.text_field(:address) %>
      <%= f.submit('検索する') %>
    <% end %>
  </div>
</div>