<div class="row justify-content-center">
  <div class="col-12 filter-black justify-content-center">
    <div class="py-3 d-flex">
      <div class="text-white align-text-bottom">イベント検索結果</div>
      <button class="btn btn-sm bg-success ml-auto text-white d-block" type="button" data-toggle="collapse" data-target="#search_bar">
        詳細検索
      </button>
    </div>

    <%= render(partial: 'layouts/narrow_search_bar', locals: {model: Event, path: events_path}) %>

    <% if @events.blank? %>
      <div>検索条件に一致するイベントがありません</div>
    <% else %>
      <% @events.each do |event| %>
        <div class="row bg-success mb-2">
          <%= link_to(event.name, event_path(event.id)) %><br>
          <!--リファクタリング-->
          <%= event.return_event_time %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>