<div class="row filter-black justify-content-center">
  <div class="col-12 justify-content-center text-white">
    <h4 class="py-3">コート重複確認</h4>
      <p>
        コート情報の提供ありがとうございます！<br>
        <mark><strong>重複を防ぐため、既に登録されていないか、住所での確認</strong></mark>
        をお願いします。
      </p>
    <%= form_with(model: Court, url: map_check_courts_path, method: 'get', local: true, class: 'form-group') do |f| %>
      <div class="pb-3">
        <%= f.label(:address, '住所を入力') %>
        <%= f.text_field(:address, value: @address, placeholder: '住所を入力', class: 'w-100') %>
      </div>
      <div class="d-flex justify-content-end">
        <%= f.submit('検索する', class: 'btn btn-sm btn-success d-block') %>
      </div>
    <% end %>
  </div>
</div>