<div class="row justify-content-center">
  <div class="col-12 filter-black justify-content-center">
    <%= form_with(model: Court, url: map_check_courts_path, method: 'get', local: true) do |f| %>
      <%= f.label(:address, '住所入力') %>
      <%= f.text_field(:address) %>
      <%= f.submit('検索') %>
    <% end %>
  </div>
</div>