<div class="row justify-content-center">
  <div class="col-12 filter-black justify-content-center">
    <div class="py-3 d-flex">
      <div class="text-white align-text-bottom">コート検索結果</div>
        <button class="btn btn-sm bg-success ml-auto text-white d-block" type="button" data-toggle="collapse" data-target="#search_bar">
          詳細検索
        </button>
      </div>

    <%= render(partial: 'layouts/narrow_search_bar', locals: {model: Court, path: courts_path}) %>

    <%= render(partial: 'layouts/court-index', locals: {no_result_text: '検索条件に一致するコートがありません', courts: @courts}) %>

  </div>
  <div class="mt-3">
    <%= paginate(@courts) %>
  </div>
</div>