<div class="row filter-black justify-content-center">
  <div class="col-12 justify-content-center text-white">
    <div>
      <h4 class="py-3 text-center">ありがとうございます！</h4>
      <p class="text-center py-3">
        提供ありがとうございます！<br>
        確認の上、コートを追加させていただきます。<br>
        ※コートの情報反映にはお時間をいただきます。
      </p>
    </div>
    <%= link_to('トップページへ戻る', root_path, class: 'btn btn-sm btn-success d-block mb-3') %>
  </div>
</div>