<div class="row justify-content-center">
  <div class="col-12 filter-black justify-content-center">
    <div>
      <h2>ありがとうございました！</h2>
      <p>
        コート情報の提供ありがとうございました！<br>
        情報を確認の上、コートの情報を追加させていただきます。<br>
        ※コート情報の確認・更新にはお時間をいただきます。
      </p>
    </div>
    <%= link_to('トップページへ戻る', root_path) %>
  </div>
</div>