<div class="row justify-content-center">
  <div class="col-12 filter-black justify-content-center">
    <div>
      <h2>問い合わせは以下のメールアドレスまでお願いします。</h2>

    </div>
    <%= link_to('トップページへ戻る', root_path) %>
  </div>
</div>