<div class="row filter-black justify-content-center">
  <div class="col-12 justify-content-center text-white">
    <div>
      <h4 class="py-3 text-center">問い合わせページ</h4>
      <p class="text-center py-3">
        問い合わせなどについては以下のメールアドレスまでお願いします。<br>
      </p>
    </div>
    <div class="col-12 mb-5 text-center">
      <%= ENV['EMAIL_FIRST_HALF'] %>
      <img src="<%= asset_path('atmark.png') %>" alt="アットマーク" class="inqury-img">
      <%= ENV['EMAIL_LATTER_HALF'] %>
    </div>
    <%= link_to('トップページへ戻る', root_path, class: 'btn btn-sm btn-success d-block mb-3') %>
  </div>
</div>