<p>Hoopers より</p>

<p><%= @resource.email %>さま</p>

<p>パスワードの変更が要求されました。以下のリンクをクリックしてパスワードの再設定ができます。</p>

<p><%= link_to('パスワード変更', edit_user_password_url(@resource, reset_password_token: @token)) %></p>

<p>このメールに心当たりがなければメールを無視してください。</p>
<p>パスワードは上記リンクをクリックし、実際に変更するまで変わることはありません。</p>
