<div class="row justify-content-center">
  <div class="col-12 filter-black justify-content-center">
    <div class="py-3 d-flex">
      <div class="text-white align-text-bottom">イベント閲覧履歴</div>
    </div>

    <%= render(partial: 'layouts/event-index', locals: {no_result_text: 'イベント閲覧履歴がありません', events: @events}) %>
  </div>
  <div class="mt-3">
    <%= paginate(@events) %>
  </div>
</div>