<% if (controller_name == 'events')&&(action_name == 'show') %>
    <footer class='fixed-bottom'>
      <% if @event.status %>
        <div class=d-inline-block>
          <%= link_to('主催者連絡先',event_path(id: @event.id, anchor: 'contact'), class:'btn bg-orange') %>
        </div>
        <div id='favorite' class='d-inline-block'>
          <%= link_to('検討リストへ追加', event_favorites_path(id: @event.id), method: 'post', remote: true,class:'btn bg-orange') %>
        </div>
      <% end %>
    </footer>
<% end %>